strong { font-weight: var(--fw-bold); }

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.yellow{
    color: var(--clr-accent-500);
}
.green{
    color: var(--clr-accent-900)
}
.accent{
    color: var(--clr-accent);
}

.gray-out{
    opacity: .1;
}
.non{
    opacity: 1;
}